RewriteEngine on
# Redirect /page_name1 to /name1.html
RewriteRule ^countdown$ /countdown.html [L]

# Redirect /page_name2 to /name.html
RewriteRule ^tracker$ /tracker.html [L]

# Redirect /page_name2 to /name.html
RewriteRule ^tracker$ /news.html [L]

# Redirect /page_name2 to /name.html
RewriteRule ^tracker$ /thankyou.html [L]
